.myDiv {
    width: 100%;
    margin: auto;
  }

.text_styling{
    font-family: 'Montserrat', sans-serif;
    color: #694991;
}
.challengeTextStyle{
  font-weight: unset;
}
.ModalLogo{
  max-height: 2rem;
  width: auto;
}

.modalHeaderStyle{
  margin: auto;
  align-items: center;
}

.verticalMarginAuto{
  margin-top: auto;
  margin-bottom: auto;
}
.noHorizontalMargin{
  margin-left: 0;
  margin-right: 0;
}

.myElement {
  font-size: 1em;
  line-height: 1.75em;
  border-top: 3px solid;
  /* ATH, here is the error need to fix !
  border-image: linear-gradient(to left, #694991 0%, #e26fe8 100%);
  border-image-slice: 30%; */
  border-width: 3px;
  margin: 0;
  padding: 40px;
  position: relative;
  color: #694991;
  
}
/* padding = top right bottom left */
.myElement:nth-child(odd) {
  -webkit-appearance: none;
  border-right: 3px solid;
  padding-left: 0;
}
.myElement:nth-child(odd):before {
  -webkit-appearance: none;
  left: 100%;
  margin-left: -20px;
}
.myElement:nth-child(even) {
  -webkit-appearance: none;
  border-left: 3px solid;
  padding-right: 0;
}
.myElement:nth-child(even):before {
  -webkit-appearance: none;
  right: 100%;
  margin-right: -20px;
}
.myElement:first-child {
  border-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.myElement:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.textJustify{
  text-align: justify;
}

.image{
  /* border: 1px solid black; */
  height: 36px;
}

.extraHeight{
  height: 60px;
}

.marginAuto{
  margin: auto !important;
}
.displayFlex{
  display: flex;
}
.modalBody{

}
.myButton{
  display: none;
}
.myModalDialog{
  max-width: 80%;
}
.buttonClose{
  margin-left: 0 !important;
}