.myDiv {
    width: 100%;
    margin: auto;
  }
.myElement {
  font-size: 1em;
  line-height: 1.75em;
  border-top: 3px solid;
  /* ATH, here is the error need to fix !
  border-image: linear-gradient(to left, #694991 0%, #e26fe8 100%);
  border-image-slice: 30%; */
  border-width: 3px;
  margin: 0;
  padding: 40px;
  position: relative;
  color: #694991;
  
}
/* padding = top right bottom left */
.myElement:nth-child(odd) {
  -webkit-appearance: none;
  border-right: 3px solid;
  padding-left: 0;
}
.myElement:nth-child(odd):before {
  -webkit-appearance: none;
  left: 100%;
  margin-left: -20px;
}
.myElement:nth-child(even) {
  -webkit-appearance: none;
  border-left: 3px solid;
  padding-right: 0;
}
.myElement:nth-child(even):before {
  -webkit-appearance: none;
  right: 100%;
  margin-right: -20px;
}
.myElement:first-child {
  border-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.myElement:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.textJustify{
  text-align: justify;
}
