.TeamDiv{
    /*background-color: rgba(152, 152, 152, 0.2);*/
    margin-bottom: 2%;
    /* border-radius: 5px; 
    border-width: 2px;
    border-style: solid;
    border-image: 
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      #625892
    ) 1 100%; */
}

.TeamName{
    font-size: 30px;
    font-weight: bold;
    float: left;
}

.top0{
  padding-top: 0 !important;
}

.Container{
  max-width: 90% !important;
}

@media only screen and (max-width: 600px) {
  .Container{
    max-width: 92% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}