.redirect_button_color{
    color: #625892;
}

.redirect_button_color:active, .redirect_button_color:hover{
    color: rgb(131,58,180);
}


.div_styling{
    font-family: 'Montserrat', sans-serif;
    max-width: 80%;
}

.header_style{
    line-height: normal;
    color: #694991;
    word-wrap: break-word;
}

.paragraph_style{
    font-family: 'Raleway', sans-serif;
    height: 100%;
    line-height: 1.5em;
    color: #2e2e2e !important;
}

.text_align{
    text-align: center;
}

.body_style{
    background-color: hsla(268, 34%, 43%, 0.1) !important;
    margin: auto !important;
}
.margin_top_20{
    margin-top: 20px !important;
}

.spacing_after_company{
    padding-bottom: 4%;
    padding: 2%;
    padding-left: 3%;
}

@media (max-width: 600px) {
        
    .schedule_padding_on_mobile{
        padding-left: 0;
        padding-right: 0;
    }
}