.divStyling{
    font-family: 'Montserrat', sans-serif;
}

.headerStyle{
    color: #694991;
}

.paragraphStyle{
    font-family: 'Raleway', sans-serif;
    height: 100%;
    line-height: 1.5em;
    color: #2e2e2e !important;
}

.text_align{
    text-align: center;
}

.bodyStyle{
    background-color: hsla(268, 34%, 43%, 0.1) !important;
    margin: auto !important;
}