@import url('https://fonts.googleapis.com/css?family=Montserrat:500|Raleway');

html {
  scroll-behavior: smooth !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  height: 100%;
  line-height: 1.5em;
}


body::-webkit-scrollbar {
  width: 1em;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(105,73,145);
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(105,73,145);
  outline: 1px solid rgb(240,236,244);
}

h1,
h2,
h3,
th {
  font-family: 'Montserrat', sans-serif;
  line-height: 2em;
  color: #625892;
}

a {
  text-decoration: none;
}

.App {
    /* text-align: center; */
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
  }

.text_header{
  color: #694991;
  text-align: center;
}
  
.header{
  margin-top: 70px;
  margin-bottom: 70px;
}