.vertical_navigation_div{
  display: table-cell;
  vertical-align: middle;
  padding-top: 2%;
  position: fixed;
  float: left;
  z-index: 999;
}

.diagonal_text{
  transform: rotate(-45deg);
  padding-bottom: 12%;
}

.a_modified{
  /* text-decoration: none; */
  color: rgba(98, 88, 146, 0.85);
}

.a_modified:hover, .a_modified:focus, .a_modified:active{
  text-decoration: none;
  transform: scale(1.5);
  transition-property: transform;
  transition-duration: 0.1s;
  color: rgba(105,73,145, 0.85);
}

.color_normal{
  color: rgba(105,73,145,0.85);
}

.color_strong{
  color: rgba(101,71,143,0.85);
}

.color_fade{
  color: rgba(151,114,196,0.85);
}

.bigger_font{
  transform: scale(1.5);
  font-weight: 900;
  transition-property: transform;
  transition-duration: 0.2s;
}

@media only screen and (max-width: 600px) {
  .vertical_navigation_div{
    /* padding-left: none !important; */
    padding-top:4%;
  }

  .diagonal_text{
    font-size: 10px;
  }
}