.TeamsDiv{
    border: 2px solid black;
    border-radius: 5px;
}

/* .Glow{
    padding-top: 5px;
    font-size: 32px;
    color: #fff;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

.H1{
  font-size: 48px;
  padding-top: 2%;
} */

.TheTeamText {
  padding: 1.5%;
  text-align: center;
  /* color: hsl(0, 0%, 17%); */
  letter-spacing: .03em;
  font-size: 36px;
  /* text-shadow: 
    4px 4px 0px #d5d5d5, 
    7px 7px 0px rgba(0, 0, 0, 0.2); */

    font-family: 'Montserrat', sans-serif;
  line-height: 2em;
  color: #625892;

  margin-bottom: 0;
  padding-bottom: 0 !important;
}

@media only screen and (max-width: 600px) {

  .TheTeamText {
    font-size: 28px;
    padding: 7%;
  }

}
/* @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #FFB40D, 0 0 15px #FFB40D, 0 0 20px #FFB40D, 0 0 25px #FFB40D, 0 0 30px #FFB40D;
    }
    
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #FFB30D, 0 0 15px #FFB30D, 0 0 20px #FFB30D, 0 0 25px #FFB30D, 0 0 30px #FFB30D, 0 0 32px #FFB30D;
    }
  }
*/