.teams_div{
    border: 2px solid black;
    border-radius: 5px;
}

.the_team_text {
  /* padding: 1.5%;
  padding-top: 20px;
  padding-bottom: 0; */
  text-align: center;
  letter-spacing: .03em;
  font-size: 36px;
  font-family: 'Montserrat', sans-serif;
  line-height: 2em;
  color: #625892;
  margin-bottom: 0;
  line-height: normal;
  margin-top:30px;
  margin-bottom: 30px;

}

@media only screen and (max-width: 1200px) {


}
