.individual_div_modified{
    height: 150px !important;
}

.test{
    pointer-events: none !important;
}

@media only screen and (max-width: 600px) {
    .individual_div_modified{
        height:200px !important
    }
}