.reboot_about_IMGcontainer {
    padding-left: 50px;
    padding-top: 50px;

}

.inlineBox{
    padding: 50px 50px;
}

/* For two buttons */

#modalRegisterForm {
    background: lightblue;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close{
    font-size: 32px;
    color: #625892;
}

.inputGroupTextStyle{
    min-width: 54px;
}

.iconMarginLeft{
    margin-left: 7px;
}

.labelAligned{
    margin-bottom: 0 !important;
}

.modal-guts {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100;

    overflow: auto;
}

.apply_button{
    color: #694991 !important;
    border-color: #694991 !important;
    margin: 10px;

    display: inline-block;
    vertical-align: top;

}

.apply_button:focus{
    box-shadow: 0 0 0 0.2rem rgba(105, 73, 145,.5) !important;
}

.apply_button:hover{
    color: #fff !important;
    background-color: #6029a3 !important;
    border-color: #6029a3 !important;
}

.apply_button:active{
    color: #fff !important;
    background-color: #6029a3 !important;
    border-color: #6029a3 !important;
}

.register_button{
    color: #fff !important;
    background-color: #694991 !important;
    border-color: #694991 !important;
}

.register_button:focus{
    box-shadow: 0 0 0 0.2rem rgba(105, 73, 145,.5) !important;
}

.register_button:hover{
    background-color: #6029a3 !important;
    border-color: #54248f !important;
}

.register_button:active{
    background-color: #6029a3 !important;
    border-color: #54248f !important;
}

@media only screen and (max-width: 600px) {
    .modal_content{
        margin-left: 0 !important;

    }
}
