.reboot_navbar{
  background-color: #694991 !important;
  padding-top: 0px;
  padding-bottom: 0px;
  z-index: 1000; 
}

.reboot_navbar_item{
  margin-left: 15px;
  margin-right: 15px;
  color: #d9d5f1;
}

.reboot_navbar_item:hover{
  color: #FFBA3C !important;
}

.reboot_navbar_language{
  border-left: 1px solid #d9d5f1;
  margin-left: 0px;
  padding-left: 15px;
  margin-right: 15px;
  color: #d9d5f1;
}

.firstLogo{
  display: none;
}

.iconCenter{
  margin: auto;
}

@media (max-width: 768px) {

  
  .navbarBrand{
    float: left;
  }
  .nothing{
    width: 0 !important;
  }

  .secondLogo{
    display: none;
  }

  .firstLogo{
    display: initial;
  }
}

@media only screen and (max-width: 987px) {
  .reboot_navbar{
    padding-top: 2%;
    padding-bottom: 2%;
  }
  .reboot_navbar_language{
    border-left: 0;
  }

  .group_button{
    display: initial !important;
  }
  .dropdown_menu{
    text-align: right !important;
    background-color: unset !important;
    border: none !important;
  }
  .dropdown_item{
    color: rgba(255,255,255,.5) !important;
  }
}