.panel{
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    word-wrap: break-word;
  }
.panel_danger {
  /* border-color: #694991; */
  border: 1px solid rgba(105, 73, 145, 0.5);
}

.text_styling{
  font-family: 'Montserrat', sans-serif;
}

.panel_heading {
  padding: 10px 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.panel_title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  color: inherit;
  text-align: center;
}

.panel_body {
  padding: 10px;
}

.media_list {
  padding-left: 0;
  list-style: none;
}

.media {
  margin-top: 15px;
}

.media_heading {
  font-size: 20px;
}

.location_heading {
  font-size: 18px;
}

.media:first-child {
  margin-top: 0;
}

.media_left{
  padding-right: 10px;
}

.media_left, .media_right, .media_body {
  display: table-cell;
  vertical-align: top;
}


.panel_heading {
  color: #2d1945;
  background-color: rgb(105, 73, 145);
  border-color: #694991;
}

.date_heading{
  color: #694991;
}

.date {
  margin: 0px;
  /* width: 60px; */
  text-align: center;
}

.month {
  padding: 2px 0px;
  font-weight: 700;
}

.day {
  padding: 3px 0px;
  font-weight: 700;
  font-size: 1.5em;
  color: #694991;
}

.text_center {
  text-align: center;
}

.textJustify{
  /* text-align: justify; */
}
.expired{
  text-decoration-line: line-through;
  text-decoration-style: dotted;
}

@media only screen and (max-width: 600px) {
  .divPadding{
      padding-left: 0;
      padding-right: 0;
  }
  .panel_title{
    font-size: 22px;
  }
}