.individual_div{
    border-bottom: 1px solid ;
    border-radius: 5px;
    background-color: #F0ECF4;
    height: 550px;
}

.individual_padding{
    padding: 1.5%;
    margin: auto !important;
}

.title{
    font-weight: 22px;
    color: black;
    transform: scale(1) !important;
}

.contained_information{
    min-height: 175px;
}

.individual_image{
    border-radius: 5px;
    transform: scale(1) !important;
}

.individual_name{
    padding-top: 5%;
    font-size: 24px;
    font-weight: bold;
    color: black;
    transform: scale(1) !important;
}

.individual_social{
    cursor: pointer;
    color: black
}

.undecorated_a_tag{
    word-spacing: 0.13em;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.individual_div :hover{
    transform: scale(1.1);
    height: 96%;
    background-color: rgba(255, 255, 255, 1);
    transition: all 0.2s ease-in-out;
    border-radius: 7px;
}
.individual_name:hover .undecorated_a_tag{
    color: blue !important;
    transition: all 0.2s ease-in-out;
}

.linkedIn {
    padding-left: 1.25%;
    padding-right: 1.25%;
    color: black !important;
}
.linkedIn :hover{
    color: rgb(0, 119, 181);
    transition: color 0.2s linear;
}
.normla_height{
    height: unset !important;
}
@media only screen and (max-width: 600px) {

    .individual_div:hover{
        height: 96%;
    }
    
    .individual_div{
        height: 450px !important;
    }
    .individual_div:hover{
        background-color: rgba(255, 255, 255, 1);
        transform: scale(1) !important;
    }

    .individual_name{
        font-size: 16px;
    }
    .title{
        font-weight: 14px;
    }

    .linkedIn {
        padding-left: 3.5%;
        padding-right: 3.5%;
      }
  }