.IndividualDiv{
    border-bottom: 1px solid ;
    border-radius: 5px;
    background-color: rgba(98, 88, 146, 0.2);
    transition: transform 0.2s ease-in-out;
}

.IndividualPadding{
    padding: 1.5%;
}

.Title{
    font-weight: 26px;
    color: black;
}

.IndividualImage{
    /* top:0; */
    border-radius: 5px;
}

.IndividualName{
    font-size: 24px;
    font-weight: bold;
    color: black;
    transition: transform 0.2s ease-in-out;
}

.IndividualSocial{
    cursor: pointer;
    color: black
}

.UndecoratedATag{
    color: inherit !important;
    text-decoration: none !important;
    cursor: pointer !important;
}

.UndecoratedATag :hover, .UndecoratedATag :focus, .UndecoratedATag :active, .UndecoratedATag :visited, .UndecoratedATag :focus-within{
    color:inherit !important;
    text-decoration: none !important;
    cursor: pointer !important;
}

.IndividualDiv :hover{
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0.8);

    transition: background-color 0.1s;
    transition: transform 0.4s ease-in-out;

    /* border-bottom: 0.5px solid #625892; */
}

@media only screen and (max-width: 600px) {
   .IndividualDiv :hover{
        transition: transform 0.4s ease-in-out;
        background-color: rgba(255, 255, 255, 0.8);
        transform: scale(1);
        /* border-bottom: 0.5px solid #625892; */
    }
  }