.IndividualDiv{
    border-bottom: 1px solid ;
    border-radius: 5px;
    background-color: #DAD8E1;
    
}

.IndividualPadding{
    padding: 1.5%;
    margin: auto !important;
}

.Title{
    font-weight: 22px;
    color: black;
    transform: scale(1) !important;
}

.ContainedInformation{
    min-height: 175px;
}

.IndividualImage{
    border-radius: 5px;
    transform: scale(1) !important;
}

.IndividualName{
    padding-top: 5%;
    font-size: 24px;
    font-weight: bold;
    color: black;
    transform: scale(1) !important;
}

.IndividualSocial{
    cursor: pointer;
    color: black
}

.UndecoratedATag{
    word-spacing: 0.13em;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

/* .UndecoratedATag :hover, .UndecoratedATag :focus, .UndecoratedATag :active, .UndecoratedATag :visited, .UndecoratedATag :focus-within{
    color:inherit !important;
    text-decoration: none !important;
    cursor: pointer !important;
} */

 .IndividualDiv :hover{
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 1);
    transition: all 0.2s ease-in-out;
    border-radius: 7px;
}
.IndividualName :hover .UndecoratedATag{
    color: blue !important;
    transition: all 0.2s ease-in-out;
}

@media only screen and (max-width: 600px) {
   .IndividualDiv :hover{
        background-color: rgba(255, 255, 255, 1);
        transform: scale(1) !important;
    }

    .IndividualName{
        font-size: 16px;
    }
    .Title{
        font-weight: 14px;
    }
  }