.Footer{
  background-color: rgb(42, 42, 42);
  /* position: sticky; */
  left: 0;
  right: 0;
  bottom: 0 !important;
  width: 100%;
  height: auto;
  color: white;
  text-align: center;
  padding: 0 !important;
  font-size: 18px;
}

.Facebook, .Instagram, .LinkedIn, .Github {
  transition: color 0.2s linear;
  padding-left: 1%;
  padding-right: 1%;
  color: white;
}

.Facebook :hover{
  color: rgb(59, 89, 152);
  transition: color 0.2s linear;
}

.Instagram :hover{
  color:rgb(131,58,180);
  transition: color 0.2s linear;
}

.LinkedIn :hover{
  color: rgb(0, 119, 181);
  transition: color 0.2s linear;
}

.Github :hover{
  color: rgb(0,0,0);
  transition: color 0.2s linear;
}

.Email_Button {
  border: 0;
  font-size: 1.1em;
  background-color: transparent;
  color: #dfdfdf !important;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  transition: color 0.5s ease-in-out;
}

.OnHoverSection:hover + .Footer_Copy_Text{
  transition: color 0.5s ease-in-out;
  color: #ffb30d;
  /* visibility: visible; */
}

.Footer_Copy_Text {
  /* visibility: hidden; */
  transition: color 0.5s ease-in-out;
  color: rgb(42, 42, 42);
  position: float;
}

.Footer img{
  padding-top: 6%;
  position: inherit;
  width: 100%;
  height: auto;
  padding-bottom: 0%;
}

.UnivLogo{
  display: flex;
  flex-wrap: wrap;
}


.FooterHr{
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}

.uniLogo{
  width: 30px;
  padding: 0px 40px;
}
