.Footer{
  background-color: rgb(42, 42, 42);
  /* position: sticky; */
  left: 0;
  right: 0;
  bottom: 0 !important;
  width: 100%;
  height: auto;
  color: white;
  text-align: center;
  padding: 0 !important;
  font-size: 18px;
}
.margin_auto{
  margin: auto !important;
}

.Facebook, .Instagram, .LinkedIn, .Github {
  padding-left: 1.25%;
  padding-right: 1.25%;
  color: white !important;
}

.Facebook :hover{
  color: rgb(59, 89, 152);
  transition: color 0.2s linear;
}

.Instagram :hover{
  color:rgb(131,58,180);
  transition: color 0.2s linear;
}

.LinkedIn :hover{
  color: rgb(0, 119, 181);
  transition: color 0.2s linear;
}

.Github :hover{
  color: rgb(0,0,0);
  transition: color 0.2s linear;
}

.Email_Button {
  border: 0;
  font-size: 1.1em;
  background-color: transparent;
  color: #dfdfdf !important;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  transition: color 0.5s ease-in-out;
}

.bold{
  font-weight: bold;
}

.OnHoverSection:hover + .Footer_Copy_Text{
  transition: color 0.5s ease-in-out;
  color: #ffb30d;
  /* visibility: visible; */
}

.Footer_Copy_Text {
  /* visibility: hidden; */
  transition: color 0.5s ease-in-out;
  color: rgb(42, 42, 42);
  position: float;
}

.padding_div{
  padding-top: 2%;
  padding-bottom: 0%;
}

.Footer img{
  position: inherit;
  width: 65%;
  height: auto;
}

.RightAlign{
  float: right;
  margin-right: -20%;
}
.LeftAlign{
  float: left;
  margin-left: -20%;
}

.FooterHr{
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}

.spacing{
  padding: 1%;
}

@media only screen and (max-width: 600px) {
  .Created{
    font-size: 16px;
  }

  .uniLogo{
    padding-left: 10px;
    padding-right: 10px;
  }

  .RightAlign{
    margin-right: -25%;
  }
  .LeftAlign{
    margin-left: -25%;
  }

  .Footer img{
    padding-top: 20%;
    width: 85%;
  }

  .Facebook, .Instagram, .LinkedIn, .Github {
    padding-left: 3.5%;
    padding-right: 3.5%;
  }
}