.footer {
  background-color: rgb(87, 83, 82);
  color: #dfdfdf;
}

.footer_sponsors {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  width: 100%;
  padding-top: 20px;
}

.footer_sponsors_img {
  height: 20vw;
  max-height: 100px;
  margin: 4%;
  padding: 0;
  width: 25%;
}

.footer_sponsors_img a {
  height: 100%;
  width: 100%;
}

.footer .footer_sponsors_img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: bottom;
}

.footer .footer_info {
  padding: 20px 0;
}

.footer .footer_contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer .footer_info .footer_email {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer .footer_info .footer_email button {
  padding: 5px;
  border: 0;
  /* width: 200px; */
  font-size: 1.1em;
  font-family: 'Raleway', sans-serif;
  background-color: transparent;
  color: #dfdfdf !important;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.footer .footer_info .footer_email .footer_copy_text {
  color: #ffb20d00;
  transition: color 0.2s ease-out;
}

.footer .footer_info .footer_email button:hover + .footer_copy_text {
  color: #ffb30d;
}

.footer .footer_info img {
  padding-top: 10px;
}

.footer .footer_social {
  padding-top: 4px;
}

.footer .footer_social a {
  margin-left: 7px;
  margin-right: 7px;
  color: #dfdfdf;
  transition: color 0.2s ease;
}

.footer .footer_social a span {
  display: none;
}

@media screen and (min-width: 600px) {
  .footer .footer_sponsors {
    max-width: 950px;
  }

  .footer .footer_sponsors .footer_sponsors_img {
    height: 10vw;
    display: flex;
    align-items: flex-end;
    width: 14.5%;
    margin: 1%;
  }

  .footer .footer_contact {
    flex-direction: row;
  }
}

.footer .footer_social .fa-facebook:hover {
  color: #3b5998;
}

.footer .footer_social .fa-instagram:hover {
  color: #3f729b;
}

.footer .footer_social .fa-linkedin:hover {
  color: #0976b4;
}
