.header{
    cursor: pointer;
    border: solid 1px #694991;
    padding: 15px;
    /* background-color: #694991;
    color: #FFF; */
    transition: 100000ms;

  }
  
  .content{
    cursor: pointer;
    transition: 100000ms;
    border-left: solid 1px #694991;
    border-right: solid 1px #694991;
    border-bottom: solid 1px #694991;
    border-radius: 0 0 5px 5px;
    padding: 15px;
    /* font-family: verdana; #9D7CC5*/
    font-size: 14px;
    background-color: #9D7CC5;
    color: #FFF;
  }

  ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
  }


.parent{
    font-size: 0;
}
.child{
    /* font-size: 16px; */ 
    display: inline-block;
    width:50%;
}