.home_newsletter {
    padding: 80px 0;
    background: #f84e77;
}
    
.single {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2; 
}
.single h2 {
    font-size: 22px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 40px; 
}
.sub_form {
    height: 50px;
    background: rgba(255, 255, 255, 0.6);
    border-color: transparent;
    border-radius: 20px 0 0 20px; 
}
.sub_form:focus {
    box-shadow: none;
    border-color: #694991; 
}
.form_btn {
    min-height: 50px; 
    border-radius: 0 20px 20px 0;
    background: #694991;
    color: #fff;
}