.countdown_div{
    padding-top: 3% !important;
    text-align: center;
    color: white;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Raleway', sans-serif;
    margin: auto !important;
}
@font-face {
    font-family: 'digital-7';
    src: url('/digital-7.ttf');
}   


.dispaly_contents{
    display: contents;
}

.countdown_section{
    display: inline-block;
    font-size: 46px;
    padding-left: 2%;
    padding-right: 2%;
}

.countdown_section .span {
    display: block;
    /* font-size: 110%; */
}

.bottom_text{
    margin-top: 10%;
    font-size: 36px;
}

.number_style{
    font-family: 'digital-7', sans-serif !important;
    letter-spacing: 2px;
    font-weight: normal;
}

.display_none{
    display: none !important;
}

@media only screen and (max-width: 600px) {
    .countdown_section{
        font-size: 36px;
        padding-left: 0%;
        padding-right: 0%;
        padding-top: 5%;
        font-family: 'Raleway', sans-serif;
    }

    .bottom_text{
        margin-top: 8%;
        font-size: 26px;
        font-family: 'Raleway', sans-serif;
    }
}