.countdownDiv{
    padding-top: 3% !important;
    text-align: center;
    color: white;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Raleway', sans-serif;
    margin: auto !important;
}

.dispalyContents{
    display: contents;
}

.countdownSection{
    display: inline-block;
    font-size: 46px;
    padding-left: 2%;
    padding-right: 2%;
}

.countdownSection .span {
    display: block;
    /* font-size: 110%; */
}

.bottomText{
    margin-top: 10%;
    font-size: 36px;
}

.numberStyle{
    font-family: cursive !important;
    letter-spacing: 2px;
    font-weight: normal;
}

@media only screen and (max-width: 600px) {
    .countdownSection{
        font-size: 36px;
        padding-left: 0%;
        padding-right: 0%;
        padding-top: 5%;
    }

    .bottomText{
        margin-top: 8%;
        font-size: 26px;
    }
}