.personnel_div{
    text-align: center;
    margin-top: 30px;
}

.border{
    /* border: 1px solid red; */
}

.padding_bottom{
    padding-bottom: 4%;
}

.title_padding_bottom{
    padding-bottom: 3%;
}

.heading{
    margin-bottom: 5%;
}

.reboot_color{
    color: #625892;
}

.margin_auto{
    margin: auto !important;
}

.linkedIn {
    padding-left: 1.25%;
    padding-right: 1.25%;
    color: #625892 !important;
}

.linkedIn :hover{
    color: rgb(0, 119, 181);
    transition: color 0.2s linear;
}

@media only screen and (max-width: 600px) {

    .linkedIn {
        padding-left: 3.5%;
        padding-right: 3.5%;
      }
      
      .padding_bottom{
        padding-bottom: 15%;
    }
}