.sponsor_row td:first-child {
    font-family: 'Montserrat', sans-serif;
    background-color: #d9d5f1;
  }
  
  .sponsor_row:hover {
    cursor: pointer;
  }
  
  .sponsor_row:hover td {
    background-color: #ffb30d !important;
  }
  
  /* .sponsor--row-info_true{
  }
  .sponsor--row-info_false{
  } */