
.sponsor_content .sponsor_current .sponsor_current--header {
    color: #ffb30d;
    font-size: 2em;
    font-weight: 800;
    margin-top: 60px;
    margin-bottom: -15px;
  }
  
  .sponsor_content .sponsor_current div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .sponsor_content .sponsor_current .sponsor_reboot div {
    width: 180px;
    height: 180px;
    margin: 15px;
  }
  
  .sponsor_content .sponsor_current .sponsor_restart div {
    width: 160px;
    height: 160px;
    margin: 15px;
  }
  
  .sponsor_content .sponsor_current .sponsor_reload div {
    width: 100px;
    height: 100px;
    margin: 15px;
  }
  
  .sponsor_content .sponsor_current .sponsor_other div {
    width: 90px;
    height: 90px;
    margin: 15px;
  }
  
  @media screen and (max-width: 800px) {
    .sponsor_content .sponsor_current .sponsor_reboot div {
      width: 120px;
      height: 120px;
    }
  
    .sponsor_content .sponsor_current .sponsor_restart div {
      width: 100px;
      height: 100px;
    }
  
    .sponsor_content .sponsor_current .sponsor_reload div {
      width: 80px;
      height: 80px;
    }
  }
  
  /* .sponsor_content .sponsor_current .sponsor_restart img {
    width: 150px;
    height: 100%;
    margin: 15px;
  }
  .sponsor_content .sponsor_current .sponsor_reload img {
    width: 100px;
    height: 100%;
    margin: 15px;
  } */