@import url('https://fonts.googleapis.com/css?family=Montserrat:500|Raleway');

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  height: 100%;
  line-height: 1.5em;
 
  
}

h1,
h2,
h3,
th {
  font-family: 'Montserrat', sans-serif;
  line-height: 2em;
  color: #625892;
}

a {
  text-decoration: none;
}

.title_padding{
  padding-top: 10%;
}

.app {
    overflow-x: hidden;
    /* background-color: hsla(268, 34%, 43%, 0.1); */
  }

.text_header{
  color: #694991;
  text-align: center;
}
  
.header{
  margin-top: 70px;
  margin-bottom: 70px;
}

.sponsor_content {
    max-width: 1000px;
    margin: 20px auto;
    /* margin-top: 0; */
    display: flex;
    flex-direction: column;
  }
  
  .sponsor_content .sponsor_header {
    /* color: #625892; */
    font-size: 2em;
    padding: 20px 0;
    margin: 0;
    margin-top: 70px;
  }
  
  .sponsor_content .sponsor_header_main {
    font-size: 2.5em;
  }
  
  .sponsor_content .sponsor_main_header {
    font-size: 2.5em;
    margin: 0 auto;
    padding: 40px 0;
    padding-top: 0;
    max-width: 800px;
    text-align: center;
  }
  
  span {
    color: #625892;
  }
  
  .sponsor_content .sponsor_table_header_category th {
    color: #ffb30d;
    font-size: 1.7em;
    font-weight: 800;
  }
  
  .sponsor_content .sponsor_table_header_price {
    background-color: #d9d5f1;
  }
  
  .sponsor_content .sponsor_table-header_price th {
    color: white;
    font-family: sans-serif;
    font-size: 1.5em;
  }
  
  .sponsor_content .sponsor_table tr {
    height: 50px;
  }
  
  .sponsor_content .sponsor_table .sponsor_row td:nth-child(1) {
    background-color: #9186c6;
    color: white;
    width: 34%;
    padding-left: 10px;
    text-align: left;
  }
  
  .sponsor_content .sponsor_table tr td:not(:first-child) {
    background-color: #d9d5f1;
    color: #625892;
    font-family: sans-serif;
    font-weight: bold;
  }
  
  .sponsor_row_info_true td {
    padding: 10px;
    background-color: #625892;
    color: white;
    text-align: left;
  }
  
  .sponsor_content .sponsor_table-header_price th:nth-child(1) {
    padding-left: 10px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
  }
  
  .sponsor_content .sponsor_table tr *:not(:first-child) {
    width: 22%;
  }
  
  .sponsor_content .team_text {
    padding: 10px;
  }
  
  .sponsor_content .team_text .team_about {
    display: flex;
    flex-direction: column;
  }
  
  .sponsor_content .team_text .team_photo {
    width: 100%;
    height: 100%;
  }
  
  .sponsor_content .additional_info {
    width: 94%;
    padding: 10px 3%;
  }
  .sponsor_content .additional_info_second {
    width: 94%;
    padding: 100px 3% 10px 3%;
  }
  
  @media screen and (min-width: 700px) {
    .sponsor_content .team_text .team_about {
      display: flex;
      flex-direction: row;
    }
  
    .sponsor_content .team_text .team_photo {
      width: 50%;
      max-width: 400px;
    }
  }
  
  @media screen and (max-width: 800px) {
    .sponsor_content .sponsor_table {
      font-size: 12px;
    }
  
    .sponsor_content .sponsor_table tr *:not(:first-child) {
      max-width: 70px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: auto;
    }
    .sponsor_content .sponsor_table-header_price th {
      font-size: 0.75em;
    }
  }
  
  @media screen and (max-width: 415px) {
    .sponsor_content .sponsor_table-header_category th {
      font-size: 1em;
    }
  
    /*.sponsor_content .sponsor_table tr td:nth-child(1) {
      max-width: 100px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }*/
  }